<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Create Your Account in UpTask

            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta(class=`${category}`)
                                p= error
                                           
            form#form.caja.caja-login(action="/new-account", method="POST")
                .campo  
                    label(for="email") E-mail:
                    input(type="email", name="email" placeholder="Your Email.." value= email)

                .campo  
                    label(for="password") Password:
                    input(type="password", name="password" placeholder="Your Password.." value= password)

                .campo.enviar
                    input.boton(type="submit" value="New Account")
                .campo
                    a(href="/login") Login
        
        script(src="/dist/bundle.js")
