<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= namePag
            p Add your E-mail for restore password

            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alerta(class=`${category}`)
                                p= error
            
            form.caja-login(method="POST" action="/restorePassword")
                .campo  
                    label(for="email") E-mail:
                    input(type="email", name="email" placeholder="Your Email.." value= email )

                .campo.enviar
                    input.boton(type="submit" value="Restore Password")
                .campo.acciones
                    a(href="/Login") Return Login