extends layout

block contenido
    .contenido-principal
        h1 #{namePag} - #{project.name}




        .contenedor-acciones
            a(href=`/projects/edit/${project.id}`, class="boton") Edit Project
            button#delete-project(data-project-url=project.url type="button" class="boton eliminar") Delete Project

    
