<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
        
    body
        h2 Confirm your account UpTask
        p You are almost registered, just press the next button
        a(href=`${confirmtUrl}`) Go to confirm.
        p If you can't access this link, visit #{confirmtUrl}
        p if you did not request the password change you can ignore this email.