<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
        
    body
        h2 Reset Password
        p Hello, You have requested to reset your password, click on the following link to do so, this link is temporary, so if it expires, request it again.

        a(href=`${resetUrl}`) Go to reset.
        p If you can't access this link, visit #{resetUrl}
        p if you did not request the password change you can ignore this email.